chooser {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 1.85em;
  width: 8.5em;

  line-height: 1.85em;
  font-weight: 600;

  &:focus {
    outline: none;
  }

  chooser-label {
    @include ellipsis;

    border-radius: $border-radius;
    background: $input-color;
    position: relative;
    height: inherit;
    display: block;
    color: #FFF;

    padding: 0 $padding / 2;
    padding-right: 2em;

    &:after {
      border-color: currentColor transparent transparent;
      border-width: 0.42em 0.42em 0;
      border-style: solid;
      position: absolute;
      right: 0.85em;
      top: 0.85em;
      content: '';
      height: 0;
      width: 0;
    }
  }

  chooser-dropdown {
    box-shadow: 0 0 0 0.07em rgba($input-color, 0.05), 0 0.71em 0.71em -0.35em rgba($input-color, 0.2);
    border-radius: $border-radius;
    background: #FFF;
    display: none;

    position: absolute;
    margin-top: 0.5em;
    z-index: 1000;
    top: 100%;
    right: 0;
    left: 0;

    max-height: 25em;
    overflow: auto;

    chooser-option {
      @include ellipsis;

      padding: $padding / 4 $padding / 2;
      display: block;

      &.selected {
        background: $input-color;
        color: #FFF;
      }

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child {
        border-radius: 0  0 $border-radius $border-radius;
      }

      &:hover:not(.selected) {
        background: $background-color;
      }

      + chooser-option {
        border-top: $border-size solid $background-color;
      }
    }
  }

  &.top chooser-dropdown {
    transform: translateY(-0.7em);
    bottom: 100%;
    top: auto;
  }

  &.open {
    chooser-dropdown {
      display: block;
    }
  }
}
