%check-box {
  display: inline-block;
  overflow: hidden;
  height: 1.42em;
  width: 1.42em;

  input {
    display: none;

    &:checked + label {
      background: $green;

      i.fa {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  label {
    @include flex-center;

    border-radius: $border-radius / 1.5;
    transition: 320ms;
    background: #EEE;
    cursor: pointer;
    height: inherit;
    width: inherit;
    margin: 0;

    i.fa {
      transform: scale(0.4) rotate(45deg);
      pointer-events: none;
      transition: inherit;
      margin: auto;
      color: #FFF;
      opacity: 0;
    }
  }
}
