auto-complete {
  position: relative;
  display: block;

  input {
    @include input;

    padding: $padding / 2 $padding / 1.6;
    width: 100%;
  }

  auto-complete-dropdown {
    box-shadow: 0 0 0 0.07em rgba($input-color, 0.05), 0 0.71em 0.71em -0.35em rgba($input-color, 0.2);
    border-radius: $border-radius;
    margin-top: $spacing / 2;
    color: $font-color;
    position: absolute;
    background: #FFF;
    z-index: 1;
    top: 100%;
    right: 0;
    left: 0;

    &:empty {
      display: none;
    }

    item {
      padding: $padding / 2;
      font-weight: 600;
      cursor: pointer;
      display: block;

      > * {
        pointer-events: none;
      }

      &.selected, &:hover {
        background: $input-color;
        color: #FFF;
      }

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
      }

      + item {
        border-top: $border-size solid $border-color;
      }
    }
  }
}
