%markdown {
  box-shadow: 0 0 0 $border-size rgba($input-color, 0), 0 0 0 rgba($input-color, 0.2);
  border-radius: $border-radius;
  position: relative;
  transition: 320ms;
  cursor: pointer;
  display: block;
  height: 14em;

  > a {
    color: $input-color;
    text-align: center;
    font-weight: bold;
    font-size: 1.28em;

    position: absolute;
    transition: 320ms;
    bottom: -1.666em;
    right: 0.55em;
    opacity: 0;
    z-index: 3;

    &:hover {
      text-decoration: none;
    }
  }

  textarea {
    padding: $padding / 2;
    pointer-events: none;
    transition: 320ms;
    background: none;
    resize: none;
    opacity: 0;
    border: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $placeholder-color;
      opacity: 1;
    }
  }

  content {
    transform: tralate3d(0, 0, 0);
    transition: 320ms 320ms;
    padding: $padding / 2;
    overflow: auto;

    &:empty + textarea {
      opacity: 1;
    }
  }

  &.editing {
    box-shadow: 0 0 0 $border-size rgba($input-color, 0.05), 0 0.35em 0.71em rgba($input-color, 0.2);
    margin-bottom: 2.5em;

    a {
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }
    }

    span {
      opacity: 0.5;
    }

    content {
      transition: 320ms;
      opacity: 0;
    }

    textarea {
      transition: 320ms 320ms;
      pointer-events: auto;
      opacity: 1;
    }
  }

  span {
    padding: 0.41em 0.82em;
    pointer-events: none;
    position: absolute;
    line-height: 2.5em;
    font-size: 0.85em;
    transition: 160ms;
    bottom: -2.5em;
    height: 2.5em;
    opacity: 0;
    right: 0;
    left: 0;

    > * {
      margin: 0 0.41em;
    }
  }

  content, textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
