multi-select {
  display: inline-block;
  position: relative;
  color: $font-color;
  width: 14em;

  &:after {
    border-color: $font-color transparent transparent;
    border-width: 0.42em 0.42em 0;
    border-style: solid;
    position: absolute;
    right: 0.85em;
    top: 0.85em;
    content: '';
    height: 0;
    width: 0;
  }

  > input {
    @include ellipsis;
    @include input;

    padding-right: 2.2em !important;
    width: 100%;

    &:focus {
      text-overflow: clip;
      color: inherit;
    }
  }

  &.open {
    multi-select-dropdown {
      display: block;
    }
  }

  multi-select-dropdown {
    box-shadow: 0 0 0 0.07em rgba($input-color, 0.05), 0 0.71em 0.71em -0.35em rgba($input-color, 0.2);
    border-radius: $border-radius;
    position: absolute;
    margin-top: 0.3em;
    max-height: 22em;
    background: #FFF;
    overflow: auto;
    display: none;
    z-index: 1000;
    top: 100%;
    right: 0;
    left: 0;
  }

  multi-select-item {
    padding: $padding / 5;
    cursor: pointer;
    display: flex;

    &:hover {
      background: $background-color;
    }

    + multi-select-item {
      border-top: $border-size solid $background-color;
    }

    span {
      @include ellipsis;

      padding-left: $spacing / 4;
      line-height: 2.28em;
      font-weight: 600;
      flex: 1;
    }
  }

  multi-select-check-box {
    @extend %check-box;
    margin: $spacing / 2;

    input:not(:checked) + label {
      background: mix($input-color, #EEE, 5%);
    }
  }
}
