member {
  display: inline-block;
  position: relative;
  margin: 0.14em;
  width: 2.14em;

  img {
    border-radius: $border-radius / 1.5;
    width: 100%;
    pointer-events: none;
  }

  &:hover:after {
    opacity: 1;
    transition: 1ms 500ms;
  }
}
